# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bazel directories
/bazel-testlogs
/bazel-bin
/bazel-out
/bazel-cpp2kdb

# Clang
.clang_complete

# Doxygen
/html
/latex

# Mac
.DS_Store

# VS Code
/.vscode

# build q_types.h
/build_q_types.sh
